<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title> Skill Details </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Skill details</h1>
    <h2><%= skill.skill %></h2>
    <p>Status: "<%= skill.done %>"</p>
</body>
</html>